@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body{
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones' , sans-serif;
    color: white;
}


.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);

}

.cabecalho__menu i::before{
    content: "\e904";
    font-size: 24px;
}

.cabecalho__logo{
    width: 40px;
    height: 40px;
}

.cabecalho__notificacao i::before{
    content: "\e906";
    font-size: 24px;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 60vw;
    height: 100vh;
    position: absolute;
    left: -60vw;
    transition: 0.5s;
}

.menu-lateral--ativo{
    left: 0;
    transition: 0.5s;
}

.menu-lateral__logo{
    width: 118px;
    align-self: center;
    padding: 16px;
}

.menu-lateral__link{
    height: 64px;
    color: #95999C;
    display: flex;
    padding-left: 64px;
    align-items: center;
}

.menu-lateral__link--ativo{
    color: white;
    padding-left: 54px;
    border-left: 10px solid white;
}
.menu-lateral__link::before{
    content: "";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral__link--inicio::before{
    content: "\e902";
}

.menu-lateral__link--videos::before{
    content: "\e90e";
}

.menu-lateral__link--picos::before{
    content: "\e908";
}

.menu-lateral__link--integrantes::before{
    content: "\e903";
}

.menu-lateral__link--camisas::before{
    content: "\e900";
}

.menu-lateral__link--pinturas::before{
    content: "\e90a";
}


.principal{
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.titulo-pagina{
    font-size: 1.5rem;
    font-weight: 700;
    
}

.cartao{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #2C343A;
}
.cartao-conteudo{
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    align-items: baseline;
    
}

.cartao-destaque{
    font-size: 16px;
    color: white;
    grid-column: span 2;
    
}

.cartao-titulo{
    font-size: 18px;
    font-weight: 700;
    grid-column: span 2;
    
}

.cartao-autor{
    font-size: 14px;
    font-weight: 400;
    color:#95999C;
    grid-column: span 2;
   
}

.cartao-info{
    font-size: 14px;
    color: #95999C;
    display: inline-block;

}

.cartao-info--tempo::before{
    content: "\e90c";
    margin-right: 5px;
}

.cartao-info--views::before{
    content: "\e90f";
    margin-right: 5px;
}

.cartao-botao--destaque{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: #0480DC;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.cartao-botao--destaque::before{
    content: "\e90b";
    font-size: 24px;
    margin-right: 8px;
}

.maisvistos-secao{
    display: grid;
    gap: 16px;
}

.maisvistostitulo{
    font-size: 18px;
    font-weight: 700;
}

.cartao-botao--play{
    width: 40px;
    height: 40px;
    background-color: #0480DC;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
}

.cartao-botao--play::before{
    content: "\e90b";
    font-size: 24px;
}
